doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Byte Talk - #{username}
  //
    <link rel="stylesheet" href="\public\styles\style.css" />
    <link rel="stylesheet" href="\public\styles\chat-home.css" />
  link(rel='stylesheet' href='styles/style.css')
  link(rel='stylesheet' href='styles/chat-home.css')
header
  nav
    .logo
      a
        img(src="../resources/logo.png", alt="logo")
    .customer-services
      .help Help
      .about-us About us
      .contact Contact
main 

  .containor  
    input#errMsg(type='hidden' name='errMsg' value=message)
    input#result(type='hidden' name='result' value=result)
    .user
      .user-img
        // <img src="\public\resources/no-dp.png" alt="" />
        img(src='resources/no-dp.png' alt='')
      span= username
      br
      p Active
      button(value='Logout') Logout
    .wrapper
      form(action='./home.pug' method='post')
        input(type='hidden' name='formType' value='addFriend')
        input(type='hidden' name='username' value = username)
        input(type='text' name='fUsername' placeholder='Enter name of the user.')
        button(type='submit')
          // <img src="\public\resources/search-outline.svg" alt="Search icon" />
          img(src='resources/search-outline.svg' alt='Search icon')


      if friends
        each friend, index in friends
          - var num = index+1 
          div(class='card' id='card'+num)
            .chat-user-img
              // <img src="\public\resources/no-dp.png" alt="" />
              img(src='resources/no-dp.png' alt='')
              span= friend 
                br
                p This is a message from the user.


      

  if friends
    each friend, index in friends
      - var num = index+1
      .info-containor
      // <img src="\public\resources/logo.png" alt="" />
      img(src='resources/logo.png' alt='')
      div(class='chat-containor' id='user-chat'+num)
        .only-chat-contain
          .chat-user-info
            .chat-user-img
              // <img src="\public\resources/no-dp.png" alt="" />
              img(src='resources/no-dp.png' alt='')
            .user-name
              p.name= friend
              p.activity Active/Inactive
          div(class='chatting-content' id='chatting-content'+num)
            .received-message This is a received message from #{friend}
            div(class='sent-message' id='sent-message'+num)
              | This is a sent message 
        form(action method='post')
          .message-input
            input(type='text' placeholder='Enter your messaage.' id='chat-input'+num)
            button#send-button(onclick='sendButton()')
              // <img src="\public\resources/send-outline.svg" alt="Send icon" class="svg-img" />
              img.svg-img(src='resources/send-outline.svg' alt='Send icon')
              
  
          
script(src='scripts/script.js')
