doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Byte Talk - #{username}
  //
    <link rel="stylesheet" href="\public\styles\style.css" />
    <link rel="stylesheet" href="\public\styles\chat-home.css" />
  link(rel='stylesheet' href='styles/style.css')
  link(rel='stylesheet' href='styles/chat-home.css')
header
  nav
    .logo
      .img
    .customer-services
      .help Help
      .about-us About us
      .contact Contact
main
  span 
    ul
      each val in friendList
        li= val

  span
  .containor
    input#errMsg(type='hidden' name='errMsg' value=message)
    input#result(type='hidden' name='result' value=result)
    .user
      .user-img
        // <img src="\public\resources/no-dp.png" alt="" />
        img(src='resources/no-dp.png' alt='')
      span #{username}
      br
      p Active
      button(value='Logout') Logout
    .wrapper
      form(action='./home.pug' method='post')
        input(type='hidden' name='formType' value='addFriend')
        input(type='hidden' name='username' value='#{username}')
        input(type='text' name='fUsername' placeholder='Enter name of the user.')
        button(type='submit')
          // <img src="\public\resources/search-outline.svg" alt="Search icon" />
          img(src='resources/search-outline.svg' alt='Search icon')


      #card1.card
        .chat-user-img
          // <img src="\public\resources/no-dp.png" alt="" />
          img(src='resources/no-dp.png' alt='')
        |             User-1 
        br
        p This is a message from the user.


      
  .info-containor
    // <img src="\public\resources/logo.png" alt="" />
    img(src='resources/logo.png' alt='')
  #user-chat1.chat-containor
    .only-chat-contain
      .chat-user-info
        .chat-user-img
          // <img src="\public\resources/no-dp.png" alt="" />
          img(src='resources/no-dp.png' alt='')
        .user-name
          p.name User-1
          p.activity Active/Inactive
      #chatting-content1.chatting-content
        .received-message This is a received message
        #sent-message1.sent-message
          | This is a sent message
    .message-input
      input#chat-input1(type='text' placeholder='Enter your messaage.')
      button#send-button(onclick='sendButton()')
        // <img src="\public\resources/send-outline.svg" alt="Send icon" class="svg-img" />
        img.svg-img(src='resources/send-outline.svg' alt='Send icon')
          //- img.svg-img(src='resources/send-outline.svg' alt='Send icon')
          
script(src='scripts/script.js')
